@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  line-height: 1.3rem;
}

body {
  height: 100%;
  width: 100%;
  background-color: #e6c09a;
  background: linear-gradient(90deg, rgba(230,192,154,1) 0%, rgb(245 214 184) 100%);
  font-family: 'Roboto', sans-serif;
}

.mt-6 {
  margin-top: 5rem !important;
}

/* Main containers */
.container-main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-row {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* --- header --- */
header {
  height: 350px;
  border-bottom: 1px solid #aba072;
  /* background: linear-gradient(135deg, #91573c 15%, #7a4532 25%, #7a4532 80%, #91573c 100%); */
}

.brand-wrap {
  position: relative;
  z-index: 3;
}

.banner {
  position: absolute;
  width: auto;
  max-height: 400px;
  top: 0;
  left: 22%;
}

.logo {
  position: absolute;
  top: 0;
  left: 2%;
  height: 280px;
  padding-top: 2%;
}

.brand-name {
  font-family: 'Charm', cursive;
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 5.6rem;
  color: #aba072;
  text-shadow: 4px 4px 4px #8e343e;
  margin: 0;
  padding-top: 2rem;
}

/* --- Hidden elements for desktop --- */
.brand-name-mobile,
.hamburger-wrap,
.mobile-nav {
  display: none;
}

.right {
  border-radius: 15px;
  border: 1px solid #aba072;
  box-shadow: 3px 3px 3px #654934;
}

.header-shadow {
  text-shadow: 2px 2px 2px #996044;
}

.divider-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(63, 61, 54, 0.75), rgba(0, 0, 0, 0));
  margin-top: 4rem;
}

.divider-line-right {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(63, 61, 54, 0.75), rgba(0, 0, 0, 0));
  margin-top: 2.5rem;
  margin-bottom: 1.9rem;
}


/* --- Navigation --- */
#nav {
  margin-top: 20px;
  position: relative;
}

.menu-icon {
  height: 12px;
  width: 12px;
  color: #54df99;
  padding: 0 2rem 0 1.5rem;
}

.nav-btn {
  padding: .7rem;
  display: block;
  width: 15rem;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 3px 3px 3px #3f4241
}

.nav-link {
  margin-bottom: .5rem;
  border-radius: .5rem !important;
  background: rgb(115,48,60);
  background: linear-gradient(90deg, rgba(115,48,60,0.75) 15%, rgba(115,48,60,0.75) 35%, rgba(167,59,78,0.75) 85%, rgb(167 59 78 / 75%) 100%) !important;
  color: #fafafa !important;  color: #fafafa !important;
  text-shadow: 2px 2px 2px #070707;
}

.nav-link.active {
  background: rgb(115,48,60) !important;
  background: linear-gradient(90deg,  rgba(115,48,60,1) 5%, rgba(115,48,60,1) 56%, rgb(204,61,87,1) 100%) !important;
}

.nav-link:hover {
  color: #b4b991 !important;
}



/* --- Direct contact --- */
.contact h4 {
  padding: 1rem 0;
}

.contact i {
  padding-right: 3px;
}

.random-img {
  box-shadow: 3px 3px 3px #0a2035;
  width: 60%;
}

/* --- About Us --- */
#about-us {
  margin-bottom: 6rem;
}
.about-us-list {
  padding-left: 1.5rem;
}

.about-us-list i {
  padding-left: 5px;
  color: rgb(51, 163, 41);
}

/* --- Our Books --- */
.our-books-shadow {
  text-shadow: 2px 2px 2px #3d402b;
}

/* from https://embedresponsively.com/ */
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute;
  top: 0;
  left: 10%;
  width: 85%;
  height: 85%;
  box-shadow: 4px 4px 4px #0a2035;
}

.coming-soon-img {
  box-shadow: 4px 4px 4px #0a2035;
}

/* --- Footer --- */
.footer {
  min-height: 350px;
  background-color: #5d3535;
  color: rgb(230 192 154);
}

.footer h4,
.footer h5 {
  font-weight: 400;
}

.form {
  margin-left: 3rem;
  margin-right: 3rem;
}
.form-control {
  background-color: transparent !important;
  border: 1px solid rgb(230 192 154) !important;
  color: #fafafa !important;
}

.form-control::placeholder {
  color: rgb(230 192 154);
}

.connect,
.site-links {
  padding-left: 7%;
}

.connect-list,
.site-links-list {
  list-style: none;
}

.divider-line-mobile {
  display: none;
}

.connect-list li,
.site-links-list li {
  padding-bottom: 15px;
}

.connect-list i {
  padding-right: 5px;
}

.connect-list a,
.site-links-list a {
  text-decoration: none;
  color:  rgb(230 192 154);
}

.connect-list a:hover,
.site-links-list a:hover {
  transition: all 150ms ease-in-out;
  color: #fafafa;
}

.btn-outline-brown {
  color: rgb(230 192 154);
  border-color: rgb(230 192 154);
}

.btn-outline-brown:hover {
  color: #5d3535;
  background-color: rgb(230 192 154);
}

.copyright {
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {

  .logo,
  .banner,
  .brand-name,
  .desktop-nav {
    display: none;
  }

  #header {
    border: none;
    height: auto;
  }

  .container-main {
    width: 100%;
  }
  
  .brand-name-mobile {
    display: block;
    text-align: center;
    font-family: 'Charm', cursive;
    font-size: 4.6rem;
    color: #aba072;
    text-shadow: 4px 4px 4px #8e343e;
    margin: 0;
    padding-top: 2.5rem;
  }

  /* --- Mobile menu --- */
  .hamburger-wrap {
    display: block;
    position: absolute;
    padding: 1rem;
    z-index: 100;
  }

  .hamburger-btn span {
    display: block;
    width: 26px;
    height: 2px;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
  }

  .hamburger-btn span:not(:last-child) {
    margin-bottom: 5px;
  }

  .bg-dark-brown {
    background-color: #5d3535;
  }

  .bg-light-brown {
    background-color: #aba072;
  }

  .mobile-nav {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #5d3535f1;
    padding: 35px 0;
    z-index: 20;
  }

  .mobile-nav-show {
    display: block;
  }

  .left {
    width: 100%;
  }

  .mobile-nav a {
    display: block;
    text-align: center;
    color: #f1d1b1;
    padding: 10px 0;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .random-img {
    width: 80%;
  }

  .right {
    border: none;
    box-shadow: none;
    padding-right: 0;
  }

  .text-second {
    padding-top: 16px;
  }

  .about-us-list {
    width: 95%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .divider-line-mobile {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(230, 192, 154, 0), rgba(230, 192, 154, 0.75), rgba(230, 192, 154, 0));
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .form {
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .connect {
    text-align: center;
  }

  .site-links {
    text-align: center;
  }

  .copyright {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 350px) {
  .brand-name-mobile {
    font-size: 4rem;
  }
}