@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  line-height: 1.3rem;
}

body {
  height: 100%;
  width: 100%;
  background: url(../../assets/images/blue-bg.png) no-repeat center fixed;
  background-color: #00000054;
  background-blend-mode: overlay;
  /*background: #103355;
  background: radial-gradient(circle, #11385c 15%, #103355 100%);*/
  font-family: 'Roboto', sans-serif;
  /* color: #9bcdff; */
}

.container-row {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* --- header --- */
header {
  height: 350px;
  background: url(../images/stock-photo-child-opened-a-magic-book-175520738-2.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.frame {
  position: relative;
  height: 300px;
}

.frame img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.brand-name {
  font-family: 'Charm', cursive;
  font-size: 6rem;
  color: #4bc3f3;
  text-shadow: 3px 3px 2px  #0a2035;
  padding-top: 3rem;
}

.right {
  /*background: #0a2035; /* 0a2035*/
  /*background: linear-gradient(90deg, #103355  0%, #0f304f 80%);*/
  border-radius: 15px;
  border: 1px solid #343a40;
  box-shadow: 2px 2px 2px #343a40;
  margin-bottom: 2rem;
}

.right-header {
  text-align: center;
  background: rgb(87,187,191);
  background: linear-gradient(135deg, rgba(87,187,191,1) 10%, rgba(102,180,226,1) 35%, rgba(102,180,226,1) 65%, rgba(87,187,191,1) 90%);
  padding: 5px 0;
  border-radius: 10px;
  text-shadow: 2px 2px 2px #0a2035;
  box-shadow: 2px 2px 2px #343a40;
  color: #fafafa;
}

.image {
  width: 90%;
  height: auto;
}

.wrapper {
  width: 75%;
  border: 1px solid #091b2c;
  box-shadow: 2px 2px 2px #343a40;
  /* background: #091b2c; */
  margin-left: auto;
  margin-right: auto;
  padding: 13px 0px;
  border-radius: 10px;
}


/* --- Navigation --- */
#nav {
  margin-top: 20px;
  position: relative;
}

.menu-icon {
  height: 12px;
  width: 12px;
  color: #54df99;
  padding: 0 2rem 0 1.5rem;
}

.nav-btn {
  padding: .7rem;
  display: block;
  /*border: 1px solid #042b54;*/
  width: 15rem;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  background: #0a2035;
  font-size: 15px;
}

.nav-link {
  margin-bottom: .5rem;
  border-radius: .5rem !important;
  background: rgb(63,153,250) !important;
  background: linear-gradient(90deg, rgba(10,32,53,1) 15%, rgba(10,32,53,1) 35%,  rgb(0, 123, 255) 85%, rgb(0, 123, 255) 100%) !important;
  color: #fafafa !important;
 
}

.nav-link.active {
  background: rgb(63,153,250) !important;
  background: linear-gradient(90deg,  rgba(10,32,53,1) 5%, rgba(10,32,53,1) 56%, rgb(0, 123, 255) 100%) !important;
  color: #18ac61 !important;
}

.nav-link:hover {
  color: #18ac61 !important;
}

/* --- Divider bar --- */
.divider-img {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  max-height: 1px;
}

/* --- Direct contact --- */


.contact h4 {
  padding: 1rem 0;
}

.contact i {
  padding-right: 3px;
}

/* --- About Us --- */
#about-us {
  margin-bottom: 6rem;
  
}
.about-us-list {
  padding-left: 1.5rem;
}

.about-us-list i {
  padding-left: 5px;
  color: rgb(21, 255, 0);
}

/* --- Our Books --- */
.our-books {
  /* background: #ffffff70; */
  /*background: linear-gradient(90deg, #1e568f  0%, #063664 80%); */
  /*border-top-left-radius: 15px;
  border-top-right-radius: 15px;*/
  box-shadow: 2px 1px 0 #343a40;
  border-top: 1px solid #343a40;
  border-bottom: 1px solid #343a40;
  border-radius: 15px;
}

.our-books-img,
.coming-soon-img {
  padding-bottom: 20px;
  
}

/* --- Footer --- */
.footer {
  min-height: 350px;
  background-color: #57bbbf; /*41c3d8*/

}

.footer h4,
.footer h5 {
  font-weight: 500;
}

.form-control {
  background-color: transparent !important;
  border: 1px solid #343a40 !important;
  color: #343a40 !important;
}

.form-control::placeholder {
  color: #343a40;
}

.connect,
.site-links {
  padding-left: 7%;
}

.connect-list,
.site-links-list {
  list-style: none;
  
}

.connect-list li,
.site-links-list li {
  padding-bottom: 15px;
}

.connect-list i {
  padding-right: 5px;
}

.connect-list a,
.site-links-list a {
  text-decoration: none;
  color: #000;
}

.connect-list a:hover,
.site-links-list a:hover {
  transition: all 150ms ease-in-out;
  color: #fafafa;
}


/*#35d7f5*/