* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/Abstract_gold_background.jpg) no-repeat center fixed;
    background-size: cover;
    /*background-color: rgb(231, 177, 74);*/
}

.full-row {
    margin-left: -15px;
    margin-right: -15px;
}

.round {
    border-radius: 1rem;
    background: url(../images/blue_background.jpg) no-repeat center;
    background-size: cover;
}

.text-gold {
    color: #FFBF00;
}



.text-black {
    color: #000;
}

.bg-gold {
    background-color: #b8893b;
}

.bg-blue-pic {
    background: url(../images/blue_background2.jpg) no-repeat center;
    background-size: cover;
}
/* --- Header and nav --- */
.header-brand {
    height: 100px;
}

.active {
    background: rgb(27, 109, 202);
    color: #faac30 !important;
}

.bg-blue {
    background: rgb(0, 91, 196);
}

.nav-divider {
    border-right: 1px solid #fafafa9d;
}

.nav-link {
    color: #fafafa !important;
    font-weight: 500;
    
    padding-right: 0.7em !important;
}

.nav-link:hover {
    color: #faac30 !important;
}

.divider {
    padding: 0;
    height: 17px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0),
                 3px 3px 3px rgb(0, 0, 0);
}


/* --- Contact Row --- */
.show {
    opacity: 1;
    transition: 1s;
}

.hide {
    opacity: 0;
    transition: 1s;
}

.email, .phone {
    padding: 0 5px;
}

/* --- About Us --- */


/* --- Our Books --- */
/* from https://embedresponsively.com/ */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border-radius: 0.7rem;
}

.our-books-wrap {
    
    position: relative;
}




.book-cover {
    margin-right: 1.5rem;
    border-radius: .7rem;
}

/* --- Books Coming Soon --- */
#coming-soon {
    /* background: url(../images/texture-background-3765.jpeg) no-repeat center ;
    background-size: cover; */
    position: relative;
}

/* --- Contact Us --- */
.round-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: rgba(0, 91, 196, 0.9);
    color: #fafafa;
    
}

.round-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(0, 91, 196, 0.9);
}

.btn-outline-warning {
    color: #fafafa !important;
    border-color: #fafafa !important;
}

.btn-outline-warning:hover {
    color: rgb(0, 91, 196) !important;
    background: #c9993e !important;
}

.message-container {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
    border: 1px solid #fafafa;
    border-radius: 0.5rem;
    background-color: rgb(21, 83, 31);
}

.form-control {
    background: transparent;
    border-color: #fafafad5;
}

.form-control::placeholder {
    color: #fff9b788;
}

.form-control:focus {
    background: rgba(78, 211, 255, 0.5);
}
/* --- Footer --- */
.footer {
    height: 90px;
    background: rgb(39,122,53);
    background: linear-gradient(180deg, rgb(19, 19, 19) 16%, rgb(39,39,39) 50%, rgba(19, 19, 19) 84%);
    /*background: linear-gradient(180deg, rgb(0, 92, 196) 16%, rgb(0, 66, 141) 50%, rgba(0, 91, 196) 84%);*/
}

/* --- Medium screen styles --- */
@media only screen and (max-width: 1024px) {
    .video {
        height: 100%;
        width: 100%;
    }

    .nav-divider {
        display: none;
    }
}

/* --- Small screen styles --- */
@media only screen and (max-width: 600px) {
    .video {
        height: 120%;
        width: 120%;
        padding: 0 0 0 0;
        margin: 5px;
    }

    .video-wrap {
        padding-left: 6%;
    }
}