* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url(../images/Abstract_gold_background.jpg) no-repeat center fixed;
    background-size: cover; */
    background: #0A2035;
    background: -moz-linear-gradient(left, #0A2035 0%, #11365C 100%);
    background: -webkit-linear-gradient(left, #0A2035 0%, #11365C 100%);
    background: linear-gradient(to right, #0A2035 0%, #11365C 100%);
}

.round {
    /*background: url(../images/blue_background.jpg) no-repeat center;
    background-size: cover;*/
    background: #0A2035;
    background: -moz-radial-gradient(bottom, #1b498a 0%, #0A2035 70%);
    background: -webkit-radial-gradient(bottom, #1b498a 0%, #0A2035 70%);
    background: radial-gradient(ellipse at bottom left, #1b498a 0%, #0A2035 70%);
}


.bg-lightblue {
    background: #3f99f9 !important;
}

.text-blue {
    color: #62c2ff;
    
}

/* --- Header and nav --- */
.header-brand {
    height: 100px;
}

.bg-blue {
    background: #0C2D4C;
    background: -moz-linear-gradient(top, #0C2D4C 0%, #09233A 50%, #061625 100%);
    background: -webkit-linear-gradient(top, #0C2D4C 0%, #09233A 50%, #061625 100%);
    background: linear-gradient(to bottom, #0C2D4C 0%, #09233A 50%, #061625 100%);
}

.bg-blue-reverse {
    background: #0C2D4C;
    background: -moz-linear-gradient(bottom, #0C2D4C 0%, #09233A 50%, #061625 100%);
    background: -webkit-linear-gradient(bottom, #0C2D4C 0%, #09233A 50%, #061625 100%);
    background: linear-gradient(to top, #0C2D4C 0%, #09233A 50%, #061625 100%);
}

.nav-divider {
    border: 1px solid #3f99f9;
    
}

.nav-link {
    color: #62c2ff !important;
    font-weight: 600;
    background: #0a2035;
    padding-right: 0.7em !important;
    font-size: 1.2rem;
}

.selected {
    color: #1ac065 !important;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, inset -5px -5px 15px -1px rgba(0,0,0,0.91); 
    box-shadow: inset 4px 4px 15px 0px #000000, inset -5px -5px 15px -1px rgba(0,0,0,0.91);
    transition: ease-in-out;
    transition-duration: 500ms;
}


.nav-link:hover {
    color: #1ac065 !important;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, inset -5px -5px 15px -1px rgba(0,0,0,0.91); 
    box-shadow: inset 4px 4px 15px 0px #000000, inset -5px -5px 15px -1px rgba(0,0,0,0.91);
    transition: ease-in-out;
    transition-duration: 50ms;
    transform: scale(1.1);
}

.divider {
    padding: 0;
    height: 17px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0, 0, 0),
                 3px 3px 3px rgb(0, 0, 0);
}


/* --- Contact Row --- */
.show {
    opacity: 1;
    transition: 1s;
}

.hide {
    opacity: 0;
    transition: 1s;
}

.email, .phone {
    padding: 0 5px;
}

.email a {
    text-decoration: none;
    color: #62c2ff;
}

.email a:hover {
    color: #1ac065;
}


/* --- Our Books --- */
/* from https://embedresponsively.com/ */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: 1px solid rgb(255, 255, 255);
}

/* --- Books Coming Soon --- */
.book-cover {
    /*padding-right: 2rem;*/
}

.book-cover:hover {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    transform: scale(1.05);
}

.w-90 {
    width: 90%;
}

/* --- Contact Us --- */
.contact-us {
    background-color: #032845;
}

.btn-outline-warning {
    color: #62c2ff !important;
    border-color: #62c2ff !important;
}

.btn-outline-warning:hover {
    color: #0a0235 !important;
    background: #62c2ff !important;
}

.message-container {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
    border: 1px solid #3f99f9;
    background-color: rgb(21, 83, 31);
}

.form-control {
    background: transparent;
    border-color: #3f99f9;
    color: #add7ff !important;
}

.form-control::placeholder {
    color: #698baf;
}

.form-control:focus {
    background: rgba(157, 208, 250, 0.329);
}

/* --- Footer --- */
.footer {
    height: 90px;
    background: rgb(19, 19, 19);
    background: linear-gradient(180deg, rgb(19, 19, 19) 16%, rgb(39,39,39) 50%, rgba(19, 19, 19) 84%);
}

/* --- Medium screen styles --- */
@media only screen and (max-width: 1024px) {
    .video {
        height: 100%;
        width: 100%;
    }

    .nav-divider {
        display: none;
    }
}

/* --- Small screen styles --- */
@media only screen and (max-width: 600px) {
    .video {
        height: 120%;
        width: 120%;
        padding: 0 0 0 0;
        margin: 5px;
    }

    .video-wrap {
        padding-left: 6%;
    }
}