@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  line-height: 1.3rem;
}

body {
  height: 100%;
  width: 100%;
  /*background: url(../../assets/images/wall-wallpaper-concrete-colored-painted-textured-concept.jpg) no-repeat center fixed;
  background-color: #1c3c53;
  background-blend-mode: overlay;*/
  background: #103355;
  background: radial-gradient(circle, #11385c 15%, #103355 100%);
  font-family: 'Roboto', sans-serif;
  color: #9bcdff;
}

.container-row {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

/* --- header --- */
header {
  height: 300px;
  border-bottom: 1px solid #9bcdff;
  background: url(../images/depositphotos_9762409-stock-photo-happy-little-girl-reading-a.jpg) no-repeat;
  background-size:cover;
  background-position: bottom center;
  background-color: #606161;
  background-blend-mode:overlay;
}

.frame {
  position: relative;
  height: 300px;
}

.frame img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: -10%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.brand-name {
  font-family: 'Charm', cursive;
  font-size: 4.8rem;
  color: #3f99fa;
  text-shadow: 2px 2px 1px  #0a2035;
}

.right {
  background: #0a2035;
  background: linear-gradient(90deg, #103355  0%, #0f304f 80%);
  border-radius: 15px;

}

/* --- Navigation --- */
#nav {
  margin-top: 20px;
  position: relative;
}

.menu-icon {
  height: 12px;
  width: 12px;
  color: #54df99;
  padding: 0 2rem 0 1.5rem;
}

.nav-btn {
  padding: .7rem;
  display: block;
  /*border: 1px solid #042b54;*/
  width: 15rem;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  background: #0a2035;
  font-size: 15px;
}

.nav-link {
  margin-bottom: .5rem;
  border-radius: .5rem !important;
  background: rgb(63,153,250) !important;
  background: linear-gradient(90deg, rgba(10,32,53,1) 15%, rgba(10,32,53,1) 35%,  rgb(0, 123, 255) 85%, rgb(0, 123, 255) 100%) !important;
  color: #fafafa !important;
 
}

.nav-link.active {
  background: rgb(63,153,250) !important;
  background: linear-gradient(90deg,  rgba(10,32,53,1) 5%, rgba(10,32,53,1) 56%, rgb(0, 123, 255) 100%) !important;
  color: #18ac61 !important;
}

.nav-link:hover {
  color: #18ac61 !important;
}

/* --- Divider bar --- */
.divider-img {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-height: 1px;
}

/* --- Direct contact --- */


.contact h4 {
  padding: 1rem 0;
}

.contact i {
  padding-right: 3px;
}

/* --- About Us --- */
#about-us {
  margin-bottom: 6rem;
}
.about-us-list {
  padding-left: 1.5rem;
}

.about-us-list i {
  padding-left: 5px;
  color: rgb(21, 255, 0);
}

/* --- Our Books --- */
.our-books {
  background: #076dcc;
  background: linear-gradient(90deg, #1e568f  0%, #063664 80%);
  /*border-top-left-radius: 15px;
  border-top-right-radius: 15px;*/
  border-radius: 15px;
}

.our-books-img,
.coming-soon-img {
  padding-bottom: 20px;
}

/* --- Footer --- */
.footer {
  min-height: 350px;
  background-color: #1e1f1f;
  color: rgb(160, 160, 160);
}

.footer h4,
.footer h5 {
  font-weight: 400;
}

.form-control {
  background-color: #272727 !important;
  border: 1px solid #6b6b6b !important;
  color: #fafafa !important;
}

.form-control::placeholder {
  color: rgb(160, 160, 160);
}

.connect,
.site-links {
  padding-left: 7%;
}

.connect-list,
.site-links-list {
  list-style: none;
  
}

.connect-list li,
.site-links-list li {
  padding-bottom: 15px;
}

.connect-list i {
  padding-right: 5px;
}

.connect-list a,
.site-links-list a {
  text-decoration: none;
  color:  rgb(160, 160, 160);
}

.connect-list a:hover,
.site-links-list a:hover {
  transition: all 150ms ease-in-out;
  color: #fafafa;
}
